.row
  .col-sm-10
    .form-group
      = form.label :product_id, class: 'control-label'
      = form.grouped_collection_select :product_id, Category.all, :products, :name, :id, :name, { include_blank: true }, class: 'form-control'
  .col-sm-1
    .form-group
      = form.label :active, 'Show this review?', class: 'control-label'
      = form.check_box :active, class: 'checkbox'
  .col-sm-1
    .form-group
      = form.label :rating, class: 'control-label'
      = form.select :rating, (1..5), {}, class: 'form-control'
.row
  .col-sm-11
    .form-group
      = form.label :customer_name, class: 'control-label'
      = form.text_field :customer_name, class: 'form-control'
  .col-sm-1
    .form-group
      = form.label :show_customer_name, class: 'control-label'
      = form.check_box :show_customer_name, class: 'checkbox'
.form-group
  = form.label :date, class: 'control-label'
  = form.date_field :date, class: 'form-control'
.form-group
  = form.label :title, class: 'control-label'
  = form.text_field :title, class: 'form-control'
.form-group
  = form.label :body, class: 'control-label'
  = form.text_area :body, rows: 4, class: 'form-control'
