- content_for :page_title, category_collection.name
- content_for :seo_keywords, category_collection.seo
- content_for :seo_description, category_collection.description

p= category_collection.description
- category_collection.categories.each do |category|
  h1.category-header
    = link_to category.name, category_path(category.url)
    .pull-right
      = render 'layouts/book_now'
  p.category-description
    = simple_format(category.description)
  - if category_collection.inline
    - category.products.each do |product|
      = render product

- if category_collection.snippet_collection.present?
  h1.category-header= category_collection.snippet_collection.name
  - category_collection.snippet_collection.snippets.each do |snippet|
    - if snippet.active
      .snippet
        h2.category-item-header= snippet.title
        = simple_format snippet.body
