<p class='policy-text'>
  We accept some no-fault insurance and pre-authorized worker's compensation claims.
  You are responsible for knowing the conditions and terms of the policy in both instances, particularly if massage therapy is covered and under what terms.
  We participate in flex plan claims, United Health Care ACN United Naturally plans and various other plans.
  You are fully responsible for payment in the event of a denied claim.
  Insurance clients will also be billed a 50% time/service fee for no shows and 30% for not canceling 24 hours ahead.
</p>
