<% content_for :page_title, "#{response.status} #{action_name.titleize}" %>
<div class="text-center">
  <p>The robots that power A Touch Of Tranquility's website have produced this message: <%= message %>. We're sorry about that!</p>

  <p>
    If you think you have reached this page in error, please
    <%= mail_to "christina.lower@gmail.com", "notify Christina",
      :subject => "Problem on ATouchOfTranquilitySpa.com",
      :body => "Hi,\n\n" \
        "I visited #{request.original_url} and it gave me a #{response.status} #{action_name.titleize} error." \
        "\n\nSincerely," %>
    and we will fix it!
  </p>
  <p><%= link_to "Home", root_path %></p>
</div>
