<li><%= link_to "Show", polymorphic_path([:admin, row]), class: "text-info" %></li>
<li><%= link_to "Edit", polymorphic_path([:edit, :admin, row]), class: "text-warning" %></li>
<li><%= link_to "Delete", polymorphic_path([:admin, row]), data: { :confirm => "Are you sure?" }, :method => :delete, class: "text-danger" %></li>
