- content_for :page_title, "#{resource_class.to_s.titleize} Manager"
= form_tag polymorphic_path([:active, :admin, resource_class])
  table.table
    thead
      tr
        = render 'index_row_headers'
        th

    tbody
      - collection.each do |row|
        = fields_for "#{resource_class.name.downcase.pluralize}[]", row do |form|
          tr
            = render 'index_row_columns', row: row, form: form
            td
              .btn-group.btn-group-xs.pull-right
                button.btn.btn-default.dropdown-toggle data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'
                  | Actions
                  span.caret<
                ul.dropdown-menu
                  = render 'index_row_actions', row: row
                  = render 'index_row_extra_actions', row: row
  = render 'buttons'
