<li class="divider" role="separator"></li>
<li><%= link_to "Move To Top", polymorphic_path([:move_to_top, :admin, row]), method: :post %></li>
<li><%= link_to "Move Up", polymorphic_path([:move_up, :admin, row]), method: :post %></li>
<li><%= link_to "Move Down", polymorphic_path([:move_down, :admin, row]), method: :post %></li>
<li><%= link_to "Move To Bottom", polymorphic_path([:move_to_bottom, :admin, row]), method: :post %></li>
