= link_to 'Move Up', polymorphic_path([:move_up, :admin, row]), method: :post, class: 'btn btn-default'
= link_to 'Move Down', polymorphic_path([:move_down, :admin, row]), method: :post, class: 'btn btn-default'
