.row
  .col-sm-6
    .form-group
      = form.label :time, class: 'control-label'
      = form.text_field :time, class: 'form-control'
  .col-sm-5
    .form-group
      = form.label :price, class: 'control-label'
      = form.text_field :price, class: 'form-control'
- unless form.object.new_record?
  .col-sm-1
    .form-group
      = form.label :_destroy, 'Remove price/time?', class: 'control-label'
      = form.check_box :_destroy, class: 'checkbox'
