.form-group
  = form.label :name, class: 'control-label'
  = form.text_field :name, class: 'form-control'
= form.fields_for :events do |event|
  = render 'event_fields', form: event
= add_extra_fields_link 'Add Day', form, :events
.form-group
  = form.label :notes, 'Schedule notes', class: 'control-label'
  = form.text_area :notes, class: 'form-control', rows: 4
