<p>
  <b>Title:</b>
  <%= resource.title %>
</p>
<p>
  <b>Body:</b>
  <%= resource.body %>
</p>
<p>
  <b>Category:</b>
  <%= resource.category.name if resource.category.present? %>
</p>
<p>
  <b>Active:</b>
  <%= resource.active %>
</p>
