@mixin text-shadow-grow {
  -webkit-transition: text-shadow 0.35s;
  -moz-transition: text-shadow 0.35s;
  -ms-transition: text-shadow 0.35s;
  -o-transition: text-shadow 0.35s;
  transition: text-shadow 0.35s;
}

@mixin box-shadow-grow {
  -webkit-transition: box-shadow 0.35s;
  -moz-transition: box-shadow 0.35s;
  -ms-transition: box-shadow 0.35s;
  -o-transition: box-shadow 0.35s;
  transition: box-shadow 0.35s;
}

@mixin link-color {
  text-transform: uppercase;
  color: $desktop-link-color-light;
  &:hover {
    color: darken($desktop-link-color-light, 10%);
  }
}

@mixin btn-styles($btn-color: #555) {
  @include gradient-vertical($start-color: $btn-color, $end-color: darken($btn-color, 3%));
  @include reset-filter; // Disable gradients for IE9 because filter bleeds through rounded corners; see https://github.com/twbs/bootstrap/issues/10620
  background-repeat: repeat-x;
  border-color: darken($btn-color, 14%);

  &:hover, &:focus {
    background-color: darken($btn-color, 12%);
    background-position: 0 -15px;
  }

  &:active, &.active {
    background-color: darken($btn-color, 12%);
    border-color: darken($btn-color, 14%);
  }

  &.disabled, &[disabled], fieldset[disabled] & {
    &, &:hover, &:focus, &.focus, &:active, &.active {
      background-color: darken($btn-color, 12%);
      background-image: none;
    }
  }
}

@mixin flex-parent() {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
