@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
@import 'mixins';
@import 'variables';
@import 'bootstrap-sprockets';
@import 'bootstrap';

html {
  width: 100%;
  box-sizing: border-box;
}

.header-container {
  @include candle-bg();
  padding: 15px;
}

.site-header {
  background-color: rgba(178, 140, 100, 0.7);
  padding-bottom: 10px;
  color: #fff;
  text-align: center;
  a {
    color: #fff;
  }
  @include flex-parent();
}

.logo {
  @include flex-parent();
  text-align: center;
  height: 345px;
  width: 90%;
  a {
    display: inline-block;
    height: 100%;
  }

  img {
    height: inherit;
  }

  @media (max-width: 480px) {
    height: 150px;
  }
}

.links {
  @include flex-parent();
  &.navigation {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  &.navigation, &.product {
    flex-basis: 100%;
    a {
      margin-right: 10px;
      margin-left: 10px;
      @include link-color();
      &:hover {
        background-color: rgba(255, 255, 255, 0);
      }
    }
  }
}

.content {
  padding: 15px;
}

a {
  @include text-shadow-grow();
  &:hover {
    text-shadow: 0 0 40px rgba(255, 32, 32, 1);
    @include text-shadow-grow();
  }
}

.page-title {
  padding: 15px;
  background: $teal;
  color: #fff;

  @media (max-width: 480px) {
    margin-top: 0;
  }
}

.category-header {
  background: $brown;
  color: #fff;
  padding: 5px;
  a {
    color: lighten($body-bg, 10%);
  }
}

.category-item-header, .product-header {
  // border-bottom: 5px solid;
  background: $brown;
  color: #fff;
  padding: 5px;
  &.dark {
    background: $brown;
  }
}

.no-photo {
  margin-left: auto;
  margin-right: auto;
}

.footer {
  font-size: $font-size-small;
  background-color: $body-bg-old;
  position: relative;
  bottom: 0;
}

.credit-cards {
  height: 60px;
  background-image: image-url('logos/credit-cards-no-amex.jpg');
  background-size: cover;
  display: inline-block;

  &:not(:last-of-type) {
    margin-bottom: 10px;
  }

  &.visa {
    width: 72px;
    background-position: 0 0;
  }

  &.mastercard {
    width: 63px;
    background-position: 132px 0;
  }

  &.discover {
    width: 70px;
    background-position: 69px 0;
  }
}

.nav-link {
  text-align: right;
  position: absolute;
  bottom: 10%;
  right: 10%;
  text-decoration: none;
  color: #fff;
  &:hover {
    color: #fff;
  }
  text-shadow: 0 0 10px #000;
}

.nav-image {
  background-size: cover;
  position: relative;
  border-radius: 12px;
  padding: 50px;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  &.skin-care {
    background-image: image-url('home/skin-400.png');
  }
  &.bodywork {
    background-image: image-url('home/lamp-400.png');
  }
  &.hair-removal {
    background-image: image-url('home/wax-400.png');
  }
}

.footer-links {}

.footer-body {
  padding-top: 10px;
  color: #fff;
  a {
    @include link-color();
  }
}

.lowercase-override {
  text-transform: lowercase !important;
}

.normal-case {
  text-transform: initial !important;
}

.slogan {
  color: #fff;
  font-size: 1.1em;
  text-shadow: 2px 2px 6px #000;
}

.top-image {
  padding-top: 10px;
}

.img-not-quite-so-responsive {
  max-width: 100%;
  height: auto;
}

.center {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.staff-photo {
  img {
    margin-bottom: 10px;
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: center 0;
  }
}

.gifts {
  @media (max-width: 768px) {
    .btn-lg {
      font-size: 16px;
    }
  }
}

table {
  &.staff-schedule, &.price-list, &.spa-hours {
    td {
      &:first-child {
        font-weight: bold;
        padding-right: 10px;
      }
    }
    margin-bottom: 15px;
  }
}

.staff-credentials {
  margin-top: -10px;
  font-size: 1.7em;
  text-transform: uppercase;
  color: #777777;
  min-height: 1.7em;
}

.member {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.staff-title, .schedule {
  margin-top: 53px;
  &#hours {
    margin-top: 10px;
  }
}

.flash {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 10000;
  width: 100%;
  height: 100%;
  div {
    max-width: 50%;
  }
}

.profile {
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 10000;
  width: 100%;
  a {
    color: #fff;
    &:hover {
      color: #fff;
    }
  }

}

.password-form {
  display: none;
}

.btn-book-now {
  @include btn-styles(rgb(170, 80, 30));
  margin-bottom: 5px;
}
