- content_for :page_title, category.name
- content_for :seo_keywords, category.seo
- content_for :seo_description, category.description

.category
  h1.category-header
    = category.name
  p.category-description
    = category.description
  .products
    - category.products.sort_by(&:position).each do |product|
      = render product

