<table class="table">
  <thead>
    <tr>
      <th> Name</th>
      <th> Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% categories.each do |row| %>
      <tr>
        <td><%= row.name %></td>
        <td><%= row.description %></td>
        <td><%= link_to "Show", category_path(row.url) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
