<div class="review">
  <h2 class="review__title category-item-header">
    <%= review.title %>
    <span class="review__rating">
      <small class="rating">
        <% review.rating.times do %>
          <span class="rating__glyphicon rating__glyphicon-star"></span>
        <% end %>
      </small>
    </span>
  </h2>
  <blockquote class="review__text">
    <p>
      <%= simple_format review.body %>
    </p>
    <footer>
      <%= review.customer_name if review.show_customer_name %>
      <%= review.date.strftime("%m/%d/%Y") %>
    </footer>
  </blockquote>
</div>
