<% content_for :page_title, "Reviews" %>
<p><%= simple_format(Snippet[:reviews]) %></p>
<% collection.each do |product| %>
  <h1 class="category__header">
    <%= product.name %>
  </h1>
  <p>
    Rating:
    <span class="rating">
      <% product.average_rating.times do |i| %>
        <span class="glyphicon glyphicon-star"></span>
      <% end %>
    </span>
  </p>
  <% product.reviews.each do |review| %>
    <% if review.active %>
      <%= render review %>
    <% end %>
  <% end %>
<% end %>
