= link_to 'Gift cards', 'http://www.secure-booker.com/ATouchofTranquilitySpa/ShippableGiftCard.aspx'
= link_to 'Packages', 'http://www.secure-booker.com/ATouchofTranquilitySpa/OrderSeries.aspx'
= link_to 'Membership', 'http://www.secure-booker.com/ATouchofTranquilitySpa/MembershipStart.aspx'
= link_to 'Sign up', 'http://www.secure-booker.com/ATouchofTranquilitySpa/LoginStart.aspx'
= link_to 'Shangri-La collections', 'http://www.secure-booker.com/ATouchofTranquilitySpa/BookPackageStart.aspx'
