/= link_to 'Book Now', 'http://www.secure-booker.com/ATouchofTranquilitySpa/BookOnlineStart.aspx', target: '_blank'
<!-- begin Genbook badge -->
<a href='http://www.genbook.com/bookings/slot/reservation/30173440?bookingSourceId=1000' target='_blank'>
  <img class='genbook-image' src='http://www.genbook.com/bookings/images/30173440/booknow.gif' alt='Make an Online Appointment'>
</a><!-- end Genbook badge -->
