<% unless flash.blank? %>
  <div class="flash">
    <% flash.each do |type, message| %>
      <div class="message__alert <%= bootstrap_class_for(type) %>">
        <%= message %>
      </div>
    <% end %>
  </div>
<% end %>
