<nav class="header-container">
  <div class="site-header">
    <%= render "layouts/profile" %>
    <h1 class="site-header__title">
      A Touch Of Tranquility
    </h1>
    <div class="navigation">
      <ul class="navigation__list list-inline">
        <% Navigation.site_links.each do |link| %>
          <li class="navigation__list-item">
            <%= link_to link.name, link.url, :class => "navigation__link-site" %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="navigation">
      <ul class="navigation__list list-inline">
        <% Navigation.product_links.each do |link| %>
          <li class="navigation__list-item">
            <%= link_to link.name, link.url, :class => "navigation__link-product" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
