<table class="schedule schedule--spa-hours">
  <% Schedule.spa_hours.events.sort_by { |e| Event::DAYS.index(e.day) }.each do |event| %>
    <tr class="event">
      <td class="event__day"><%= event.day %></td>
      <td class="event__span"><%= event.span %></td>
    </tr>
  <% end %>
</table>
<p class="hours__lead"><%= Schedule.spa_hours.notes %></p>
