<table class="schedule" id="hours">
  <% spa_hours.events.sort_by { |e| Event::DAYS.index(e.day) }.each do |event| %>
    <tr>
      <td><%= event.day %></td>
      <td><%= event.span %></td>
    </tr>
  <% end %>
</table>
<p class="lead"><%= spa_hours.notes %></p>
